<form class="" action="index.html" method="post">
  <input type="text" name="Team_Name" value="Team_Name">
  <input type="text" name="Team_Motto" value="Team_Motto">

  <input type="text" name="" value="">
  <input type="text" name="" value="">
  <input type="text" name="" value="">

  <input type="text" name="" value="">
  <input type="text" name="" value="">
  <input type="text" name="" value="">

  <input type="text" name="" value="">
  <input type="text" name="" value="">
  <input type="text" name="" value="">

  <input type="submit" name="Submit" value="Submit">
</form>
