<form class="" action="index.html" method="post">
  <input type="text" name="Team_Name" value="Team_Name">
  <input type="text" name="Team_Motto" value="Team_Motto">

  <input type="text" name="Hero_1_Name" value="Hero_1_Name">
  <input type="text" name="Hero_1_Power" value="Hero_1_Power">
  <input type="text" name="Hero_1_Biography" value="Hero_1_Biography">


  <input type="submit" name="Submit" value="Submit">
</form>
