<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form class="" action="index.html" method="post">
      <input type="text" name="Team_Name">
      <input type="text" name="Team_Motto">

      <h2> Hero 1</h2>
      <input type="text" name="Hero_1_Name">
      <input type="text" name="Hero_1_Power">
      <input type="text" name="Hero_1_Biography">

      <h2> Hero 2</h2>
      <input type="text" name="Hero_2_Name">
      <input type="text" name="Hero_2_Power">
      <input type="text" name="Hero_2_Biography">

      <h2> Hero 3</h2>
      <input type="text" name="Hero_3_Name">
      <input type="text" name="Hero_3_Power">
      <input type="text" name="Hero_3_Biography">


      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
