<!DOCTYPE html>
<html>
  <head>

    <div class="team">
      <title> <%= @team.name %> </title>
      
      <h1> Team Motto: <%= @team.motto %></h1>
    </div>
  </head>
  <body>

  </body>
</html>
